{% extends "layout.html" %}

{% block title %}
<h1 class="secondary-text"> 4. Finished!  </h1>
{% endblock %}

{% block main %}
<br>
<br>
<span style="font-size: 300%" class="beginning-text">Thank you so much for participating in my experiment!!</span>
{% endblock %}

{% block subtitle %}
<br><br>
<span style="font-size: 100%" class="beginning-text">Here is your <b>Referral code</b></span><br>
<span style="font-size: 50%">As some friends to also do this experiment and use this code for a better chance at winning the lottery!</span>
<h1>{{ refer }}</h1>
{% endblock %}

{% block main2 %}
<br>
<br>
<span style="font-size: 125%" class="beginning-text">I'll hand you a treat when I see you, and contact you if you won the lottery!</span>
{% endblock %}
